/* Vendors */
@import '../../node_modules/locomotive-scroll/dist/locomotive-scroll';

/* tailwind */
@import './tailwind.css';

/* utilities */
@import './utilities.css';
@import './typography.css';

/* Global styles */
:root {
    --color-primary: colorCode('black');
    --color-secondary: colorCode('white');
    --custom-font-sans: 'ABC Favorit', sans-serif;

    @font-face {
        font-family: 'ABC Favorit';
        src: url('../../public/fonts/ABCFavorit-Book.ttf') format('truetype');
        font-weight: 400;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'ABC Favorit';
        src: url('../../public/fonts/ABCFavorit-Medium.ttf') format('truetype');
        font-weight: 500;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'ABC Favorit';
        src: url('../../public/fonts/ABCFavorit-Bold.ttf') format('truetype');
        font-weight: 700;
        font-style: normal;
        font-display: swap;
    }
}

body {
    background: var(--color-secondary);
    color: var(--color-primary);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

::selection {
    background-color: var(--color-primary);
    color: var(--color-secondary);
    text-shadow: none;
}

/* Define a transition duration during page visits */
html.is-changing .transition-fade {
    transition: opacity 0.25s;
    opacity: 1;
}
/* Define the styles for the unloaded pages */
html.is-animating .transition-fade {
    opacity: 0;
}
