---
import Layout from '@layouts/Layout.astro';
import Icon from '@components/Icon/Icon.astro';
import Blocks from '@components/Blocks/Blocks.astro';
import Image from '@components/Image/Image.astro';
import ctrlHeader from '@images/ctrl/ctrl_mock_still.jpg';
import ctrlFooter from '@images/ctrl/ctrl_alt_footer.jpg';
import ctrlPhone from '@images/ctrl/ctrlaltmock.jpg';

import { Vimeo } from 'astro-embed';
import { Picture } from 'astro:assets';
import { MuxPlayer } from '@mux/mux-player-astro';

// Define the blocks for this post. This could be fetched from a CMS.
---

<Layout title="CTRL+ALT">
    <header class="flex h-fit w-full flex-col items-center justify-center gap-20 pt-96 pr-3 pl-3">
        <div
            class="grid grid-cols-12 gap-3 text-center text-[60px] leading-[100%] font-bold tracking-tighter"
        >
            <div class="col-span-6 col-start-4 pb-5">
                A digital experience for a queer arts organization redefining Montreal's nightlife
                scene.
            </div>
        </div>
        <div
            class="flex flex-row items-center justify-items-center gap-1 pb-80 text-[16px] leading-5 tracking-[-0.03em]"
        >
            <div
                class="flex rounded-full bg-gray-100 pt-2 pr-5 pb-2 pl-5 text-center font-normal text-black"
            >
                Brand Identity
            </div>
            <div
                class="flex rounded-full bg-gray-100 pt-2 pr-5 pb-2 pl-5 text-center font-normal text-black"
            >
                Social Strategy
            </div>
            <div
                class="flex rounded-full bg-gray-100 pt-2 pr-5 pb-2 pl-5 text-center font-normal text-black"
            >
                Web Design
            </div>
        </div>

        <Image
            src={ctrlHeader}
            alt="Chimie logo on cement wall"
            class="col-span-12 w-full overflow-clip rounded-2xl"
        />

        <div class="pt-52 pr-3 pl-3">
            <div
                class="h-fit w-full items-center justify-center pb-10 text-center text-[16px] font-medium tracking-tight"
            >
                Project Information
            </div>
            <div class="grid grid-cols-12 gap-gutter pb-72">
                <div
                    class="col-span-8 col-start-3 text-center text-[42px] leading-[100%] font-bold tracking-tighter text-black"
                >
                    CTRL+ALT needed a website that could keep up with everything they are — a
                    festival, a community, a platform for queer artists who deserve more than a
                    footnote in Montreal's cultural scene.
                </div>
            </div>
        </div>
    </header>
    <div class="grid grid-cols-12 gap-3 pr-3 pb-3 pl-3">
        <div class="col-span-9 flex flex-col gap-3 4xl:col-span-10">
            <div class="flex h-fit w-full overflow-clip rounded-2xl">
                <MuxPlayer
                    playbackId="mgty01SqMgdflac2kOaj2qcC5uPDtAfawE6lSy01sI01X00"
                    autoplay="muted"
                    loop
                    style="--controls:none;--media-object-fit: cover"
                />
            </div>
            <div class="h-fit w-full">
                <Picture
                    src={ctrlFooter}
                    alt="Chimie logo on cement wall"
                    class="rounded-2xl"
                    aspect="1.77777778"
                />
            </div>

            <div class="flex h-fit w-full overflow-clip rounded-2xl">
                <MuxPlayer
                    playbackId="HmOewH3lbs02r1tnFOZmeWh7OdNzO7OI6azDLvaMffgA"
                    autoplay="muted"
                    loop
                    style="--controls:none;--media-object-fit: cover"
                />
            </div>

            <div class="flex h-fit w-full overflow-clip rounded-2xl">
                <MuxPlayer
                    playbackId="CkQc51Vs8R2fU01DJr00Pa6RpdlCJQ7lxY2n1GBNSEcz4"
                    autoplay="muted"
                    loop
                    style="--controls:none;--media-object-fit: cover"
                />
            </div>

            <div class="h-fit w-full">
                <Picture
                    src={ctrlPhone}
                    alt="Chimie logo on cement wall"
                    class="rounded-2xl"
                    aspect="1.77777778"
                />
            </div>
        </div>
        <div
            class="sticky top-4 col-span-3 flex h-fit flex-col rounded-2xl bg-gray-100 p-6 text-[13px] 4xl:col-span-2"
        >
            <div class="flex flex-col gap-0 leading-4"></div>
            <p class="font-medium text-black">Challenge</p>
            <div class="flex flex-col gap-1 pb-10 leading-[120%] font-normal text-[#4D4D4D]">
                <p>
                    Bridge the gap between grassroots community space and established cultural
                    organization
                </p>
                <p>
                    Design a platform that could equally serve artists, collaborators, and audiences<p
                    >
                    </p>
                    <p>
                        Honor the rawness and playfulness of queer nightlife while signaling the
                        professionalism the community deserves<p></p>
                    </p>

                    <div class="flex flex-col gap-0">
                        <p class="font-medium text-black">Credits</p>
                        <p class="pb-48 font-normal text-[#4D4D4D]">
                            Creative Direction, Graphic Design, Web Design:<br />
                            Jean-Julien Hazoumé
                        </p>
                    </div>
                    <div class="flex flex-row gap-4">
                        <div>
                            <p class="font-medium text-black">Date</p>
                            <p class="font-normal text-[#4D4D4D]">2023</p>
                        </div>
                        <div>
                            <p class="font-medium text-black">Links</p>
                            <div class="flex flex-row gap-3">
                                <a class="font-normal text-[#4D4D4D] underline"> Instagram </a>
                                <a class="font-normal text-[#4D4D4D] underline"> Website </a>
                            </div>
                        </div>
                    </div>
                </p>
            </div>
        </div>
    </div></Layout
>
