---
import '@styles/main.css';
import { Font, type CssVariable } from 'astro:assets';
import { SEO } from 'astro-seo';
import { defaultSeo } from '@data/seo';
import { getSeo } from '@scripts/utils/seo';
import Icon from '../components/Icon/Icon.astro';
import chimie from 'src/assets/images/chimie/chimie_friends.jpg';
import brique from 'src/assets/images/brique/briquemock.jpg';
import { Picture } from 'astro:assets';

interface Props {
    title: string;
    seo?: Seo;
}

const { title, seo = {} } = Astro.props;

const seoData = getSeo(seo, defaultSeo, title);

// Constants
const FONTS: CssVariable[] = ['--custom-font-sans'];
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />

        <SEO {...seoData} />

        {FONTS.map((font) => <Font cssVariable={font} preload />)}
    </head>
    <body>
        <script src="../scripts/app.ts"></script>

        <nav
            class="fixed z-50 container flex items-start justify-center py-fluid-xs pt-4 align-middle text-[12px] font-normal tracking-tight"
        >
            <div class="flex h-fit w-fit gap-1">
                <a class="rounded-xl bg-[#EEEEEE] pt-2 pr-5 pb-2 pl-5 hover:bg-[#00FF3C]" href="/"
                    >Projects</a
                >
                <a
                    class="rounded-xl bg-[#EEEEEE] pt-2 pr-5 pb-2 pl-5 hover:bg-[#00FF3C]"
                    href="/about">Information</a
                >
                <a class="rounded-xl bg-[#EEEEEE] pt-2 pr-5 pb-2 pl-5 hover:bg-[#00FF3C]" href="/"
                    >Contact</a
                >
            </div>

            <div class="absolute inset-x-3 h-fit w-fit">
                <a
                    class="rounded-xl bg-[#EEEEEE] pt-2 pr-5 pb-2 pl-5 text-[12px] font-bold tracking-[-3%] hover:bg-[#00FF3C]"
                    href="/">Applied Archive Atelier</a
                >
            </div>
        </nav>

        <main id="swup" class="transition-fade">
            <div id="content">
                <slot />
            </div>
        </main>

        <script>
            import { setViewportSize } from '@scripts/utils/setViewportSize';
            import { $screenDebounce } from '@scripts/stores/screen';

            // Set viewport size
            $screenDebounce.subscribe(() => {
                setViewportSize();
            });
        </script>
    </body>
</html>
